<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_Register"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".treasurer"
            android:exported="false" />
        <activity
            android:name=".secretary"
            android:exported="false" />
        <activity
            android:name=".thank_you"
            android:exported="false" />
        <activity
            android:name=".landing_page"
            android:exported="false" />
        <activity
            android:name="com.example.Voting_APP.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Voting_APP.login"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.Voting_APP.SignUp"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.example.Voting_APP.MainActivity" />
    </application>

</manifest>